.section-business-information {
  .icon {
    width: 32px;
    height: 32px;
  }
}

.documents {
  svg {
    width: 16px;
    height: 16px;
  }
}

h1,
h2,
h3 {
  font-family: "Merriweather", serif;
}
