.site-footer {
  background-color: $main-dark;
  padding: 50px 0;

  &::after,
  &::before {
    content: none;
  }

  aside {
    margin: 0;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    color: $main-white;

    @include max-mq(map-get($breakpoints, lg)) {
      gap: 20px;
    }

    @include max-mq(map-get($breakpoints, ipad)) {
      flex-direction: column;
      gap: 10px;
    }

    a {
      color: $main-white;
      transition: all 0.4s;
      text-decoration: none;

      &:hover {
        color: $green-dark;
      }
    }

    &--contact {
      display: flex;
      gap: 50px;
      justify-content: space-between;

      @include max-mq(map-get($breakpoints, lg)) {
        gap: 20px;
      }

      @include max-mq(map-get($breakpoints, ipad)) {
        flex-direction: column;
        gap: 10px;
      }
    }

    &--logo {
      img {
        display: block;
        margin-bottom: 1em;
      }
    }
  }
}

.footer-content--logo {
  img {
    max-width: 100px !important;
    width: 100% !important;
  }
}